<div>
  <div class="space-x-4 border rounded border-gray-950 shadow-2xl">
    <div class="wrap">
      <h2 class="m-8 text-4xl font-medium">
        Аналитика бота 
      </h2>
      
      <h2 class="m-8 text-2xl">
        Всего пользователей в боте: <%= @users.size %>
      </h2>

      <% Category.all.each_with_index do |category, index| %>
        <p class="ml-0.5 text-2xl"><%= index+1%>. <%= category.name%>: <%= category.user.size%> </p>
      <% end %>
      <h2 class="m-8 text-4xl font-medium">Список пользователей:</h2>
      <% User.all.each_with_index do |user, index| %>
        <p>
          <%= index + 1 %>. Дата: <%= user.created_at.strftime("%d-%m-%Y %H:%M:%S") %> | 
          Статус бота: <%= user.bot_status %> | 
          <%= user.name %> | 
          @<%= user.username %>  | 
          Поинты: <%= user.point %> | 
          Бонусные: <%= user.bonus %>
        </p>
      <% end %>
    </div>
  </div>  
</div>
